// paleta barev
$modra_light:#b3cfeb;
$modra_medium:#5dafc8;
$modra_stell:#437b9c;
$modra_dark:#0b244f;
$modra_alomst_black:#04091a;
//****************************
$basic_size:16px;
$content_width:80vw;

